<div class="bg-gray-50">
    <app-navbar></app-navbar>
    <div class="flex h-[700px] ">
        <div class="flex flex-col justify-center items-center border-r-4 border-black p-4 w-6/12 ">
            <div class="flex-col justify-center ">   
                <div>        
                    <div class="flex gap-5 justify-center ">
                        <div class="border-r-2 border-l-2 border-black px-2"><span class="uppercase">Alta Costura</span></div>
                        <div class="border-r-2 border-l-2 border-black px-2"><span class="uppercase">Diseño a medida</span></div>
                    </div>
                    <div>
                        <img class="w-fit" src="./../../../assets/Nombre SVG transparente.svg" alt=""> 
                    </div> 
                </div>           
                <div class="flex justify-center">
                    <div class="flex justify-around items-center w-6/12 gap-12">
                        <a href="" class="block w-32 h-16"><img class="w-8 h-8" src="./../../../assets/iconos/facebook-svgrepo-com.svg" alt=""></a> 
                        <a href="" class="block w-32 h-16"><img class="w-8 h-8" src="./../../../assets/iconos/instagram-logo-facebook-2-svgrepo-com.svg" alt=""></a>
                        <a href="" class="block w-32 h-16"><img class="w-8 h-8" src="./../../../assets/iconos/whatsapp-logo-variant-svgrepo-com.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-col w-6/12">
            <div class="flex items-center justify-center h-full w-full">
                <h6 class="text-center text-3xl font-semibold px-8">"Confecciones únicas, diseños con estilo e identidad propia para cada persona"</h6>
            </div>
        </div>
    </div>
    <div class="flex h-[700px] bg-gray-200 ">
        <div class="flex items-center space-x-4 w-10/12 border-r-4 border-black px-72" >
            <img class="w-96 h-96 object-cover" src="./../../../assets/misionpng.png" alt=""> 
            <span class="text-3xl font-semibold">Brindar un servicio integral para quienes desean encontrar el vestido perfecto a la medida, que destaque su personalidad. Acompañando el proceso de inicio a fin, así garantizar una experiencia única y confortable.</span>
        </div>
        <div class="flex-col w-2/12">
            <div class="relative h-[700px] w-64 p-6">
                <div class="absolute bottom-0 left-0  origin-bottom-left ">
                <p class="text-black ml-8 mb-5  font-bold uppercase text-3xl">Mision</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex h-[700px]">
        <div class="flex-col w-2/12">
            <div class="relative h-[700px] w-64 p-6">
                <div class="absolute bottom-0 right-0  origin-bottom-left ">
                <p class="text-black ml-8 mb-5  font-bold uppercase text-3xl">Vision</p>
                </div>
            </div>
        </div>
        <div class="flex items-center space-x-4 w-10/12 border-l-4 border-black px-72" >
            <span class="text-3xl font-semibold">Ser la opción Nº 1 en el servicio de diseño y confección de piezas únicas de moda.</span>
            <img class="w-96 h-96 object-cover" src="./../../../assets/imagevision.png" alt=""> 
        </div>
    </div>
    <app-footer></app-footer>
</div>